# Ignore virtual environments
.venv/
venv/
env/

# Ignore Python cache and artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore model & local files
artifacts/
*.joblib
*.pkl

# Ignore Streamlit temporary files
.streamlit/
